/* header {
    
} */

.header-div {
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: white;
    /* width: 100%; */
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-div .links * {
    font-size: 24px;
    margin-right:20px
}

.header-div .title {
     font-size: 40px; 
} 

@media (min-width: 601px) {
    .menu-items {
        display: none
    }
}