@import "header.css";
@import "content.css";
@import "footer.css";
@import "mobile.css";
@font-face {
    font-family: Alata;
    src: url(../misc/Alata-Regular.ttf);
}

body {
    font-family: 'Alata','Roboto', 'Verdana';
    overflow-x: hidden;
    background: linear-gradient(180deg, #0B172A 0%, #1D2230 63.02%, #463940 100%);
    margin: 0
}

a {
    text-decoration: none;
}

a:hover {
    color: #BC4123
}

.light-link {
    color: #fff;
}

.title, .subtitle {
    color:#BC4123
}

.button-blue {
    background-color: #0B172A;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 15px;
    border: 0px;
}

.button-blue:hover {
    background-color: #463940;
    /* color: #0B172A; */
}

@media (min-width: 601px) {
    body {
        height: 890px;
    }
    .header-div .hamburger-lines .line {
        display: none;
    }
    .header-div .checkbox {
        display: none;
        height: 0px;
        width: 0px;
    }
    header .menu-items li {
        display: none
        /* position: absolute */
    }
}